* {
    margin: 0;
    padding: 0;
}

.box {
    border: solid black 3px;
    width: 100vw;
    background-color: rgb(113, 255, 189);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.sBox {
    background-color: aqua;
}

.box2 {
    border: solid black 2px;
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 80vw;
    min-height: 20vh;  
    margin: auto;
}

.myCont{
    box-sizing: border-box;
    color:rgb(0, 0, 0);
    border:solid black 2px;
    font-size:22px;
    width:60vw;
    margin:10px auto;
     
}