*{
    margin: 0;
    padding: 0;
}
.box{
    border:solid black 3px;
    width:100vw;
    background-color:rgb(113, 255, 189);
    color:rgb(0, 0, 0);
    box-sizing: border-box;
}

.sBox{
    background-color: aqua;
}
.box2{
    border:solid black 2px;
    background-color:rgb(189, 189, 189);
    color:rgb(0, 0, 0);
    box-sizing: border-box;
    width: 80vw;
    height:80vh; 
    margin: auto;
}